#darkTheme
  --primaryColor: #1c1c1c
  --secondaryColor: #0e0e0e91
  --fontColor: white

#darkTheme .icon
  transition: 0.3s
  filter: invert(100%)

#darkTheme .iconM
  transition: 0.3s
  filter: invert(0%)

#lightTheme
  --primaryColor: #d7d7d7
  --secondaryColor: #a1a1a191
  --fontColor: black

#lightTheme .icon
  transition: 0.3s
  filter: invert(0%)

#lightTheme .iconM
  transition: 0.3s
  filter: invert(100%)