@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=M+PLUS+1:wght@100;200;300;500;600;700;800;900&display=swap')

#darkTheme
  --primaryColor: #1c1c1c
  --secondaryColor: #0e0e0e91
  --linearGradient: linear-gradient(160.43deg,#1d1d1d -85.91%,#222222 147.11%)
  --hardTone: #00000098
  --fontColor: white
  & .icon
    transition: 0.3s
    filter: invert(100%)
  & .iconM
    transition: 0.3s
    filter: invert(0%)

#lightTheme
  --primaryColor: #d7d7d7
  --secondaryColor: #a1a1a191
  --linearGradient: linear-gradient(160.43deg,#d0d0d0 -85.91%,#dddddd 147.11%)
  --hardTone: #ffffff98
  --fontColor: black
  & .icon
    transition: 0.3s
    filter: invert(0%)
  & .iconM
    transition: 0.3s
    filter: invert(100%)
