#AboutBox
  position: relative
  display: flex
  border-radius: 7px
  width: 1000px
  padding: 6px
  background-color: var(--secondaryColor)
  -webkit-backdrop-filter: blur(6px)
  backdrop-filter: blur(6px)

.container
  position: relative
  width: 800px
  height: 488px

.red
  color: #db6262

.threeJS
  color: #5f59b6
  transition: 0.3s
  font-weight: 500
  &:hover
    transition: 0.3s
    color: #433F81
    text-decoration: underline

.voxel3D
  color: #77b564
  transition: 0.3s
  font-weight: 500
  &:hover
    transition: 0.3s
    color: #476c3c
    text-decoration: underline

.blender
  color: #c67432
  transition: 0.3s
  font-weight: 500
  &:hover
    transition: 0.3s
    color: #77441c
    text-decoration: underline

.sass
  color: #c6328d
  transition: 0.3s
  font-weight: 500
  &:hover
    transition: 0.3s
    color: #6e1b4e
    text-decoration: underline

.next
  color: #555555
  transition: 0.3s
  font-weight: 500
  &:hover
    transition: 0.3s
    color: #4f4f4f
    text-decoration: underline

.typeScript
  color: #2d80b4
  transition: 0.3s
  font-weight: 500
  &:hover
    transition: 0.3s
    color: #1f5a7e
    text-decoration: underline

#topRight
  position: absolute
  display: flex
  right: 0

.sButton
  display: flex
  align-items: center
  justify-content: center
  background: rgba(114, 121, 182, 0.5294117647)
  border-radius: 3px
  height: 27px
  width: 27px
  transition: 0.1s
  border: none
  margin-left: 5px
  & svg
    font-size: 21px
  &:hover
    transition: 0.1s
    background: rgba(40, 43, 66, 0.529)

#onlineContainer
  position: absolute
  top: 125px
  left: 102px
  outline: 7px solid #2b2d43
  border-radius: 100%
  width: 17px
  height: 17px
  z-index: 100
  & #statusContainer
    animation: close 0.5s forwards
  &:hover
    & #statusContainer
      animation: open 0.5s forwards

#dot
  position: absolute
  background: linear-gradient(-30deg, #73df55, #81e366, #a9de9c, #8fe178, #7de261)
  background-size: 400% 400%
  animation: glow 1s infinite alternate
  border-radius: 100%
  width: 17px
  height: 17px
  z-index: 100

#loong
  position: absolute
  top: -7px
  left: -7px
  width: 400px
  height: 40px
  z-index: -2
  & #statusContainer
    animation: close 0.5s forwards
  &:hover
    & #statusContainer
      animation: open 0.5s forwards

#statusContainer
  display: flex
  position: absolute
  top: 4px
  left: 12px
  background: #2b2d43
  width: 330px
  height: 23px
  align-items: center
  justify-content: center
  border-top-right-radius: 5px
  border-bottom-right-radius: 5px
  transform: translateZ(-20px)
  overflow: hidden
  text-overflow: clip
  white-space: nowrap
  z-index: -1
  & p
    font-size: 15px
    color: var(--fontColor)
    font-weight: 400

@keyframes glow
  0%
    background-position: 0% 50%

  100%
    background-position: 100% 50%

@-webkit-keyframes open
  0% 
    width: 0px

  100% 
    width: 330px

@-webkit-keyframes close
  0% 
    padding-left: 0px
    width: 330px

  100% 
    width: 0px

#centerMe
  display: flex
  justify-content: center

#bioContainer
  margin-top: 30px
  margin-left: 5px

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */
/* ---Buttons--- */
/* Button for CV */
/* ------------- */
#ButtonCV
  display: flex
  align-items: center
  justify-content: center
  border: none
  border-radius: 10px
  color: white
  background-color: #313bac
  margin-left: 8px
  cursor: pointer
  font-size: 17px
  font-weight: 600
  text-decoration: none
  padding: 8px 8px
  position: absolute
  bottom: 40px
  transition: 0.3s
  &:hover
    background-color: #1a2060
    transition: 0.3s

#svgCV
  position: relative
  margin-left: 4px
  width: 23px
  height: 23px

/* ----------------- */
/* Button for Github */
/* ----------------- */
#ButtonG
  display: flex
  align-items: center
  justify-content: center
  border: none
  border-radius: 15px
  color: white
  background-color: #313bac
  margin-left: 20px
  cursor: pointer
  font-weight: 500
  outline: none
  padding: 4px
  position: absolute
  bottom: 45px
  left: 150px
  transition: 0.1s
  &:hover
    background-color: #1a2060
    transition: 0.1s

#svgG
  position: relative
  filter: invert(100%)
  width: 23px

/* ------------------- */
/* Button for Linkedin */
/* ------------------- */
#ButtonL
  display: flex
  align-items: center
  justify-content: center
  border: none
  border-radius: 21px
  color: white
  background-color: #313bac
  margin-left: 20px
  cursor: pointer
  font-weight: 500
  outline: none
  padding: 4px
  position: absolute
  bottom: 45px
  left: 185px
  transition: 0.1s
  &:hover
    background-color: #1a2060
    transition: 0.1s

#svgL
  position: relative
  filter: invert(100%)
  width: 23px

/* ------------------- */
/* Button for Portfolio */
/* ------------------- */
#myProjects
  border: none
  border-radius: 10px
  color: white
  background-color: #7279b687
  cursor: pointer
  font-size: 17px
  font-weight: 400
  text-decoration: none
  padding: 9px 110px 9px
  -webkit-backdrop-filter: blur(6px)
  backdrop-filter: blur(6px)
  transition: 0.3s
  &:hover
    transition: 0.3s
    background-color: #474a6e87

#projectsDisplayer
  position: absolute
  display: flex
  margin: 430px 0px 0px 23%
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */
/* ----Font styles---- */
/*    Tittle Text      */
/* ------------------- */
#TittleText
  color: var(--fontColor)
  position: absolute
  top: 48px
  left: 137px
  font-size: 33.2px
  font-weight: 600

/* ------------------- */
/*    Position Text    */
/* ------------------- */
#Position
  color: var(--fontColor)
  font-size: 21px
  // margin-top: 6px
  // margin-left: 12px
  // position: relative
  position: absolute
  top: 88px
  left: 142px
  text-decoration: underline
  text-underline-offset: 6px
  text-decoration-thickness: 4px
  text-decoration-color: #6d4848

/* ------------------- */
/*      Bio Text       */
/* ------------------- */
#BioTittle
  font-size: 1.17em
  font-weight: bold
  color: var(--fontColor)
  position: relative
  margin-left: 8px
  bottom: 35px
  text-decoration: underline
  text-underline-offset: 6px
  text-decoration-thickness: 4px
  text-decoration-color: #6d4848

#BioText
  color: var(--fontColor)
  font-family: 'Inter', sans-serif
  font-size: 15px
  font-weight: 300
  position: relative
  margin-left: 8px
  margin-top: 21px
  bottom: 47px
  width: 480px
  margin-right: 6px
  text-align: justify
  text-indent: 15px

#Bio
  position: relative
  top: 37px

/* ------------------- */
/*   Certificate Text  */
/* ------------------- */
#WebCertificate
  color: var(--fontColor)
  font-weight: 500
  margin-left: 8px
  position: relative

#WebDevelopment
  color: #db6262
  text-decoration: none
  &:hover
    color: #db6262
    text-decoration: underline
    text-decoration-color: #5e2b2b
    text-decoration-thickness: 2.5px

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */
/* -------Icons------- */
/*   Certificate Text  */
/* ------------------- */
.icon
  filter: invert(100%)

#DoggoIcon
  position: relative
  width: 120px
  height: 120px
  overflow: hidden
  border-radius: 100px
  margin-left: 0px

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */
